body {
   font-family: arial;
}
ul {
    list-style-type: armenian;
    display: inline-block;
    padding: 3px;
    margin-left: 2px;
}

li {
    display: inline;
    width: 60px;
}

.image {
  width: 100%;
  max-width: 100%;
  height: 410px; 
  overflow: hidden;
  position: relative; 
}

h2 {
  font-size: 30px;
  position: absolute; 
  top: 30%;
  left: 35%;
  width: 100%;
  text-shadow: 2px 2px 8px #000000; 

}
h2 span { 
   color: white;
   letter-spacing: center;  
   padding: 25px;
}

div {
  display: inline-block;
  width: 200px;
  height: 400px;
  padding: 30px;
  position: center;
}
.box {
  margin-left: 200px;
  margin-right: 10px;
  text-align: center;
  background-color: white;
}
.box2 {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}


.box3 {
  margin-left: 10px;
  margin-right: 200px;
  text-align: center;
}

div main {
/*  background-color: green;*/  
  color: white;
  padding: 10px;
  text-align: center;
  width: 170px;
}

div.boxheader {
  background-color: green;
  height: 180px;
}
div.box2header {
  background-color: blue;
  height: 180px;
}
div.box3header {
  background-color: black;
  height: 180px;
}


/*this is the box around the center 3 columns*/
div li {
  background-color: #f7f7f7;
  text-align: center;
}

div main span {
  font-size: 60px;
  text-align: center;
}

div button {
  border: 1px solid black;
  border-radius: 10px;
  height: 30px;
  width: 60px;
}

h5 {
  font-size: 20px;
  width: 31%;
}

.getStarted {
  width: 300px;
  margin-left: 200px;
  margin-right: 50px;
  text-align: center;
}
.pay {
  width: 300px;
  display: inline-block;
  margin-left: 50px;
  margin-right: 200px;
  text-align: center;
}

.twentyfourseven {
  width: 300px;
  margin-left: 200px;
  margin-right: 50px;
  text-align: center;
}
.cancel {
  width: 300px;
  margin-left: 50px;
  margin-right: 200px;
  text-align: center;
}

.infoTop {
}

.infoBottom {
}

footer {
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
}

.foot {
  margin: 0;
}

/*.Plans {
  display: inline-block;
  border: black;

}

.column-left {

}
.column-center {
  
}
.column-right {
  
}*/